body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(100, 100, 100, 10);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg2.jpg);
    background-size: cover;
}

a {
    color: #00B7FF;
}


/**********************************\
Box Centering
\**********************************/

.outer {
    display: table;
    position: absolute;
    height: 80%;
    width: 95%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: white;
    text-align: center;
}

li {
    list-style: none;
}

.itembutton {
    width: 26%;
    padding: 20px;
    border: none;
    text-align: none;
    background-color: rgb(0, 0, 0, 0.3);
    text-decoration: none;
}

a {
    text-decoration: none;
}

.itembutton:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.itemlabel {
    color: white;
}

.locationsubdiv {
    display: inline-block;
    margin: 0 auto;
    width: 40%;
}

.locationsubdiv#tags {
    background-color: rgb(0, 0, 0, 0.5);
}

.locationsubdiv#info {
    background-color: rgb(255, 100, 0, 0.5);
}

img.toplogo {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: block;
}

a.homelink {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Dropdown Button */

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 20%;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    background-color: grey;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    margin: auto;
    margin-top: 5%;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    width: 20%;
    background-color: #164cbe73;
    min-width: 3%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: auto;
    text-align: center;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#myDropdown {
    margin: auto;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: orange;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

.itemlabel .itemlink {
    background-color: orange;
}

.error {
    color: red;
    text-decoration-style: bold;
}

#mapimage {
    width: 70%;
}