doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/dropdown.js")
  body
    a(href="/").homelink
      img(src="images/logo.png").toplogo
    block content
