extends layout
block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
  script 
    != swal
  .outer
   .middle
    .inner
      .logo
      #login_box.login_box
        form(id='signin' method='POST' action='/')
          br
          br
          input(class="usnp" type="text" placeholder="Username" name="username")
          br
          input(class="usnp" type="password" placeholder="Password" name="password")
          br
          input(type="submit" id="login" value="Log In" name="login")
        .signup_forgot
          form(id="signup" method="GET" action="/register")
            input(type="submit" value="Sign Up")

          form(id="aboutus" method="GET" actoin="/aboutus")
            a(href="/aboutus")
              input(type="button" value="About Us") 