extends layout

block content
	div(class="outer")
		div(class="middle")
			div(class="inner")
				h1 Registration Successful!
				h2 Redirecting in 5 Seconds
				meta(http-equiv="refresh" content="5;url=/")