extends layout

block content
    link(rel='stylesheet', href='/stylesheets/registration.css')
    script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    script 
        != swal
    .outer
        .middle
            .inner
                .logo
                .regformdiv#regform
                    form(class="regform" method="POST" action='/register')
                        h1 Registration
                        //span &nbsp;
                        input(class="regfield" type="text" placeholder="First Name" name="firstname" id="firstname" value= firstn)
                        br
                        //span &nbsp;
                        input(class="regfield" type="text" placeholder="Last Name" name="lastname" id="lastname" value= lastn)
                        br
                        //span &nbsp;&nbsp;
                        input(class="regfield" type="text" placeholder="Username" name="username" id="username" value= usern)
                        br
                        //span &nbsp;
                        input(class="regfield" type="password" placeholder="Password" name="password" id="password" value= pass)
                        br
                        //span &nbsp;
                        input(class="regfield" type="text" placeholder="Email Address" name="email" id="email" value= email)
                        br
                        //span &nbsp;
                        input(class="submit" type="submit" value="Register" name="register")